<section class="place-page">
  <h1 class="title">{{uppercase place.name}}</h1>
  <h2 class="category">{{place.category}}</h2>
  <img class="place-image" src="../images/places/{{place}}.jpg" alt="{{place}}">
  <h3 class="address">{{place.address}}</h3>
  <h3 class="phone">{{place.phone}}</h3>
</section>
